@page "/"
@using Microsoft.AspNetCore.Components.Web
<PageTitle>Home</PageTitle>

<h1>Bem-vindo à NetflixStyleApp!</h1>

<p>Explore filmes e séries disponíveis na plataforma.</p>

<ul>
    <li><a href="/movies">Ver Filmes</a></li>
    <li><a href="/series">Ver Séries</a></li>
</ul>
